.container{
    padding: 60px 510px;
    background-image: url("https://64.media.tumblr.com/352745a46ac7fea8ce5a2cc6532377c9/tumblr_pk0lq1CPye1tbadl0_500.gif");
    background-size: cover;
    height: 100vh;
}
.text{
    border: none;
    padding: 20px ;
    font-size: 30px;
    text-align: center;
}